@import 'tailwindcss/tailwind';
@import './fontanswesome/scss/fontawesome.scss';
@import './fontanswesome/scss/brands.scss';
@import './fontanswesome/scss/duotone.scss';
@import './fontanswesome/scss/light.scss';
@import './fontanswesome/scss/regular.scss';
@import './fontanswesome/scss/solid.scss';
@import './fontanswesome/scss/thin.scss';
html, body {
  scroll-behavior: smooth;
}

input, button {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
}

img, iframe, embed {
  max-width: 100%;
}